openapi: 3.0.3
info:
  title: Sandbox0 API
  version: 0.1.0
  description: Public HTTP APIs exposed by internal-gateway.
servers:
  - url: https://api.sandbox0.ai
    description: Production
tags:
  - name: health
  - name: auth
  - name: users
  - name: teams
  - name: api-keys
  - name: sandboxes
  - name: contexts
  - name: files
  - name: templates
  - name: registry
  - name: sandbox-volumes
  - name: snapshots
paths:
  /healthz:
    get:
      tags: [health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessHealthResponse"
        "500":
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /readyz:
    get:
      tags: [health]
      summary: Readiness check
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessHealthResponse"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /metrics:
    get:
      tags: [health]
      summary: Prometheus metrics
      responses:
        "200":
          description: Metrics payload
          content:
            text/plain:
              schema:
                type: string
  /auth/providers:
    get:
      tags: [auth]
      summary: Get available auth providers
      responses:
        "200":
          description: Providers list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAuthProvidersResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/login:
    post:
      tags: [auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/register:
    post:
      tags: [auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Registration disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/login:
    get:
      tags: [auth]
      summary: Initiate OIDC login
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
        - name: return_url
          in: query
          schema:
            type: string
          required: false
      responses:
        "302":
          description: Redirect to OIDC provider
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/oidc/{provider}/callback:
    get:
      tags: [auth]
      summary: OIDC callback
      parameters:
        - $ref: "#/components/parameters/OIDCProvider"
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessLoginResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: OIDC authorization failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/logout:
    post:
      tags: [auth]
      summary: Logout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /auth/change-password:
    post:
      tags: [auth]
      summary: Change password
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me:
    get:
      tags: [users]
      summary: Get current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [users]
      summary: Update current user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/identities:
    get:
      tags: [users]
      summary: List current user identities
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Identities list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessIdentityListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /users/me/identities/{id}:
    delete:
      tags: [users]
      summary: Delete a user identity
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdentityID"
      responses:
        "200":
          description: Identity removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Identity not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams:
    get:
      tags: [teams]
      summary: List teams
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Team list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [teams]
      summary: Create a team
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamRequest"
      responses:
        "201":
          description: Team created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Team already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}:
    get:
      tags: [teams]
      summary: Get a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "403":
          description: Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [teams]
      summary: Update a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamRequest"
      responses:
        "200":
          description: Team updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [teams]
      summary: Delete a team
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Team not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}/members:
    get:
      tags: [teams]
      summary: List team members
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      responses:
        "200":
          description: Team members
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamMemberListResponse"
        "403":
          description: Not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [teams]
      summary: Add team member
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTeamMemberRequest"
      responses:
        "201":
          description: Member added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTeamMemberResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Already a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /teams/{id}/members/{userId}:
    put:
      tags: [teams]
      summary: Update team member role
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - $ref: "#/components/parameters/UserID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamMemberRequest"
      responses:
        "200":
          description: Member updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [teams]
      summary: Remove team member
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TeamID"
        - $ref: "#/components/parameters/UserID"
      responses:
        "200":
          description: Member removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys:
    get:
      tags: [api-keys]
      summary: List API keys
      security:
        - bearerAuth: []
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAPIKeyListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [api-keys]
      summary: Create API key
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
      responses:
        "201":
          description: API key created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreateAPIKeyResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/{id}:
    delete:
      tags: [api-keys]
      summary: Delete API key
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/APIKeyID"
      responses:
        "200":
          description: API key deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-keys/{id}/deactivate:
    post:
      tags: [api-keys]
      summary: Deactivate API key
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/APIKeyID"
      responses:
        "200":
          description: API key deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes:
    get:
      tags: [sandboxes]
      summary: List sandboxes
      description: List all sandboxes for the authenticated team. In multi-cluster mode, this endpoint aggregates results from all enabled clusters.
      security:
        - bearerAuth: []
      x-upstream-service: scheduler
      x-upstream-path: /api/v1/sandboxes
      parameters:
        - name: status
          in: query
          description: Filter by sandbox status
          schema:
            type: string
            enum: [starting, running, failed, completed]
        - name: template_id
          in: query
          description: Filter by template ID
          schema:
            type: string
        - name: paused
          in: query
          description: Filter by paused state
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of results per page
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: List of sandboxes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxListResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags: [sandboxes]
      summary: Create (claim) a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimRequest"
      responses:
        "201":
          description: Sandbox claimed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessClaimResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}:
    get:
      tags: [sandboxes]
      summary: Get sandbox by ID
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox configuration
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxUpdateRequest"
      responses:
        "200":
          description: Sandbox updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandboxes]
      summary: Delete (terminate) a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox terminated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/status:
    get:
      tags: [sandboxes]
      summary: Get sandbox status
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/status
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxStatusResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/pause:
    post:
      tags: [sandboxes]
      summary: Pause a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/pause
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox paused
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessPauseSandboxResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/resume:
    post:
      tags: [sandboxes]
      summary: Resume a sandbox
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/resume
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Sandbox resumed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResumeSandboxResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/refresh:
    post:
      tags: [sandboxes]
      summary: Refresh sandbox TTL
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/refresh
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxRefreshRequest"
      responses:
        "200":
          description: TTL refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRefreshResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/network:
    get:
      tags: [sandboxes]
      summary: Get sandbox network policy
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/network
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Network policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxNetworkPolicyResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox network policy
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/network
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TplSandboxNetworkPolicy"
      responses:
        "200":
          description: Network policy updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxNetworkPolicyResponse"
  /api/v1/sandboxes/{id}/exposed-ports:
    get:
      tags: [sandboxes]
      summary: Get sandbox exposed ports
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/exposed-ports
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Exposed ports
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExposedPortsResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [sandboxes]
      summary: Update sandbox exposed ports
      description: |
        Replaces all exposed ports for the sandbox. Used to control which ports
        are publicly accessible via the exposure domain.
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/exposed-ports
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExposedPortsRequest"
      responses:
        "200":
          description: Exposed ports updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExposedPortsResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandboxes]
      summary: Clear all exposed ports
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/exposed-ports
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Exposed ports cleared
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExposedPortsResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/exposed-ports/{port}:
    delete:
      tags: [sandboxes]
      summary: Remove a specific exposed port
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/sandboxes/{id}/exposed-ports/{port}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - name: port
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Exposed port removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessExposedPortsResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxes/{id}/contexts:
    post:
      tags: [contexts]
      summary: Create a context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContextRequest"
      responses:
        "201":
          description: Context created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
    get:
      tags: [contexts]
      summary: List contexts
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Context list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextListResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}:
    get:
      tags: [contexts]
      summary: Get context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
    delete:
      tags: [contexts]
      summary: Delete context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/restart:
    post:
      tags: [contexts]
      summary: Restart context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/restart
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context restarted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/input:
    post:
      tags: [contexts]
      summary: Send input to context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/input
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextInputRequest"
      responses:
        "200":
          description: Input written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/exec:
    post:
      tags: [contexts]
      summary: Execute context input (sync)
      description: Sends input and blocks until the context completes or times out.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/exec
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextInputRequest"
      responses:
        "200":
          description: Execution completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextExecResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/resize:
    post:
      tags: [contexts]
      summary: Resize context PTY
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/resize
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeContextRequest"
      responses:
        "200":
          description: Resized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResizedResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/signal:
    post:
      tags: [contexts]
      summary: Send signal to context
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/signal
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignalContextRequest"
      responses:
        "200":
          description: Signal sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSignaledResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/stats:
    get:
      tags: [contexts]
      summary: Get context stats
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/stats
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "200":
          description: Context stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessContextStatsResponse"
  /api/v1/sandboxes/{id}/contexts/{ctx_id}/ws:
    get:
      tags: [contexts]
      summary: Context WebSocket (I/O)
      description: |
        Upgrades to WebSocket for streaming I/O.
        Client messages (JSON):
        - { "type": "input", "data": "ls\n", "request_id": "req-1" }
        - { "type": "resize", "rows": 24, "cols": 80 }
        - { "type": "signal", "signal": "INT" }
        Server messages (JSON):
        - { "type": "output", "source": "stdout", "data": "hello\n" }
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/contexts/{ctx_id}/ws
      x-websocket:
        inbound:
          $ref: "#/components/schemas/ContextWebSocketRequest"
        outbound:
          $ref: "#/components/schemas/ContextWebSocketResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/ContextID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/sandboxvolumes/mount:
    post:
      tags: [sandbox-volumes]
      summary: Mount sandbox volume in sandbox
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sandboxvolumes/mount
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MountRequest"
      responses:
        "200":
          description: Volume mounted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMountResponse"
  /api/v1/sandboxes/{id}/sandboxvolumes/unmount:
    post:
      tags: [sandbox-volumes]
      summary: Unmount sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sandboxvolumes/unmount
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnmountRequest"
      responses:
        "200":
          description: Volume unmounted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUnmountedResponse"
  /api/v1/sandboxes/{id}/sandboxvolumes/status:
    get:
      tags: [sandbox-volumes]
      summary: Get sandbox volume mount status
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/sandboxvolumes/status
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "200":
          description: Mount status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMountStatusResponse"
  /api/v1/sandboxes/{id}/files/move:
    post:
      tags: [files]
      summary: Move a file or directory
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/move
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveFileRequest"
      responses:
        "200":
          description: Moved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMovedResponse"
  /api/v1/sandboxes/{id}/files/watch:
    get:
      tags: [files]
      summary: File watch WebSocket
      description: |
        Upgrades to WebSocket for file watch events.
        Client messages:
        - { "action": "subscribe", "path": "/tmp", "recursive": false }
        - { "action": "unsubscribe", "watch_id": "watch-id" }
        Server messages:
        - { "type": "subscribed", "watch_id": "watch-id", "path": "/tmp" }
        - { "type": "event", "watch_id": "watch-id", "event": "write", "path": "/tmp/a.txt" }
        - { "type": "unsubscribed", "watch_id": "watch-id" }
        - { "type": "error", "error": "message" }
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/watch
      x-websocket:
        inbound:
          $ref: "#/components/schemas/FileWatchRequest"
        outbound:
          $ref: "#/components/schemas/FileWatchResponse"
      parameters:
        - $ref: "#/components/parameters/SandboxID"
      responses:
        "101":
          description: Switching Protocols
  /api/v1/sandboxes/{id}/files:
    get:
      tags: [files]
      summary: Read file content
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path
        When `Accept` or `Content-Type` is `application/json`, returns a base64 JSON payload.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FileContentResponse"
    post:
      tags: [files]
      summary: Write file or create directory
      description: Use `path` query param and `mkdir=true` to create directories, otherwise writes file content.
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
        - $ref: "#/components/parameters/QueryMkdir"
        - $ref: "#/components/parameters/QueryRecursive"
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessWrittenResponse"
        "201":
          description: Directory created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreatedResponse"
    delete:
      tags: [files]
      summary: Delete file or directory
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxes/{id}/files/stat:
    get:
      tags: [files]
      summary: Stat a file
      description: |
        Use query params:
        - path=/tmp/a.txt: target file path
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/stat
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileStatResponse"
  /api/v1/sandboxes/{id}/files/list:
    get:
      tags: [files]
      summary: List directory entries
      description: |
        Use query params:
        - path=/tmp: target directory path
      security:
        - bearerAuth: []
      x-upstream-service: procd
      x-upstream-path: /api/v1/files/list
      parameters:
        - $ref: "#/components/parameters/SandboxID"
        - $ref: "#/components/parameters/FilePath"
      responses:
        "200":
          description: Directory entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFileListResponse"
  /api/v1/templates:
    get:
      tags: [templates]
      summary: List templates
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates
      responses:
        "200":
          description: Templates list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateListResponse"
    post:
      tags: [templates]
      summary: Create template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateCreateRequest"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
  /api/v1/templates/{id}:
    get:
      tags: [templates]
      summary: Get template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      responses:
        "200":
          description: Template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    put:
      tags: [templates]
      summary: Update template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateUpdateRequest"
      responses:
        "200":
          description: Template updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTemplateResponse"
    delete:
      tags: [templates]
      summary: Delete template
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/templates/{id}
      parameters:
        - $ref: "#/components/parameters/TemplateID"
      responses:
        "200":
          description: Template deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessageResponse"
  /api/v1/registry/credentials:
    post:
      tags: [registry]
      summary: Get registry credentials for uploads
      security:
        - bearerAuth: []
      x-upstream-service: manager
      x-upstream-path: /api/v1/registry/credentials
      responses:
        "200":
          description: Registry credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRegistryCredentialsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes:
    post:
      tags: [sandbox-volumes]
      summary: Create sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSandboxVolumeRequest"
      responses:
        "201":
          description: Volume created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
    get:
      tags: [sandbox-volumes]
      summary: List sandbox volumes
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes
      responses:
        "200":
          description: Volume list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeListResponse"
  /api/v1/sandboxvolumes/{id}:
    get:
      tags: [sandbox-volumes]
      summary: Get sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      responses:
        "200":
          description: Volume
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [sandbox-volumes]
      summary: Delete sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
        "409":
          description: Volume has active mounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/fork:
    post:
      tags: [sandbox-volumes]
      summary: Fork sandbox volume
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/fork
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForkVolumeRequest"
      responses:
        "201":
          description: Volume forked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSandboxVolumeResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/sandboxvolumes/{id}/snapshots:
    post:
      tags: [snapshots]
      summary: Create snapshot
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSnapshotRequest"
      responses:
        "201":
          description: Snapshot created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSnapshotResponse"
    get:
      tags: [snapshots]
      summary: List snapshots
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
      responses:
        "200":
          description: Snapshot list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSnapshotListResponse"
  /api/v1/sandboxvolumes/{id}/snapshots/{snapshot_id}:
    get:
      tags: [snapshots]
      summary: Get snapshot
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots/{snapshot_id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/SnapshotID"
      responses:
        "200":
          description: Snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessSnapshotResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags: [snapshots]
      summary: Delete snapshot
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots/{snapshot_id}
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/SnapshotID"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessDeletedResponse"
  /api/v1/sandboxvolumes/{id}/snapshots/{snapshot_id}/restore:
    post:
      tags: [snapshots]
      summary: Restore snapshot
      security:
        - bearerAuth: []
      x-upstream-service: storage-proxy
      x-upstream-path: /sandboxvolumes/{id}/snapshots/{snapshot_id}/restore
      parameters:
        - $ref: "#/components/parameters/SandboxVolumeID"
        - $ref: "#/components/parameters/SnapshotID"
      responses:
        "200":
          description: Restored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessRestoreResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    SandboxID:
      name: id
      in: path
      required: true
      schema:
        type: string
    ContextID:
      name: ctx_id
      in: path
      required: true
      schema:
        type: string
    TemplateID:
      name: id
      in: path
      required: true
      schema:
        type: string
    TeamID:
      name: id
      in: path
      required: true
      schema:
        type: string
    UserID:
      name: userId
      in: path
      required: true
      schema:
        type: string
    APIKeyID:
      name: id
      in: path
      required: true
      schema:
        type: string
    IdentityID:
      name: id
      in: path
      required: true
      schema:
        type: string
    SandboxVolumeID:
      name: id
      in: path
      required: true
      schema:
        type: string
    SnapshotID:
      name: snapshot_id
      in: path
      required: true
      schema:
        type: string
    OIDCProvider:
      name: provider
      in: path
      required: true
      schema:
        type: string
    FilePath:
      name: path
      in: query
      required: true
      schema:
        type: string
    QueryMkdir:
      name: mkdir
      in: query
      required: false
      schema:
        type: boolean
    QueryRecursive:
      name: recursive
      in: query
      required: false
      schema:
        type: boolean
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details: {}
      required: [code, message]
    ErrorEnvelope:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          $ref: "#/components/schemas/Error"
      required: [success, error]
    SuccessEnvelope:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data: {}
      required: [success]
    SuccessHealthResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                timestamp:
                  type: integer
                  format: int64
    SuccessMessageResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                message:
                  type: string
    SuccessRegistryCredentialsResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/RegistryCredentials"
    RegistryCredentials:
      type: object
      properties:
        provider:
          type: string
        registry:
          type: string
        username:
          type: string
        password:
          type: string
        expiresAt:
          type: string
          format: date-time
      required: [provider, registry, username, password]
    SuccessDeletedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                deleted:
                  type: boolean
    SuccessCreatedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                created:
                  type: boolean
    SuccessWrittenResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                written:
                  type: boolean
    SuccessMovedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                moved:
                  type: boolean
    SuccessResizedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                resized:
                  type: boolean
    SuccessSignaledResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                signaled:
                  type: boolean
    SuccessUnmountedResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                unmounted:
                  type: boolean
    AuthProvider:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
      required: [id, name, type]
    SuccessAuthProvidersResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                providers:
                  type: array
                  items:
                    $ref: "#/components/schemas/AuthProvider"
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]
    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string
      required: [email, password, name]
    RefreshRequest:
      type: object
      properties:
        refresh_token:
          type: string
      required: [refresh_token]
    ChangePasswordRequest:
      type: object
      properties:
        old_password:
          type: string
        new_password:
          type: string
          minLength: 8
      required: [old_password, new_password]
    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_at:
          type: integer
          format: int64
        user:
          $ref: "#/components/schemas/User"
      required: [access_token, refresh_token, expires_at, user]
    SuccessLoginResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/LoginResponse"
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        avatar_url:
          type: string
          nullable: true
        default_team_id:
          type: string
          nullable: true
        email_verified:
          type: boolean
        is_admin:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - email
        - name
        - email_verified
        - is_admin
        - created_at
        - updated_at
    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        avatar_url:
          type: string
        default_team_id:
          type: string
          nullable: true
    SuccessUserResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/User"
    Identity:
      type: object
      properties:
        id:
          type: string
        provider:
          type: string
        created_at:
          type: integer
          format: int64
      required: [id, provider, created_at]
    SuccessIdentityListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                identities:
                  type: array
                  items:
                    $ref: "#/components/schemas/Identity"
    Team:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        owner_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, name, slug, created_at, updated_at]
    TeamMember:
      type: object
      properties:
        id:
          type: string
        team_id:
          type: string
        user_id:
          type: string
        role:
          type: string
        joined_at:
          type: string
          format: date-time
      required: [id, team_id, user_id, role, joined_at]
    CreateTeamRequest:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
      required: [name]
    UpdateTeamRequest:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
    AddTeamMemberRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, developer, viewer]
      required: [email, role]
    UpdateTeamMemberRequest:
      type: object
      properties:
        role:
          type: string
          enum: [admin, developer, viewer]
      required: [role]
    SuccessTeamResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/Team"
    SuccessTeamListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                teams:
                  type: array
                  items:
                    $ref: "#/components/schemas/Team"
    SuccessTeamMemberResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/TeamMember"
    SuccessTeamMemberListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                members:
                  type: array
                  items:
                    $ref: "#/components/schemas/TeamMember"
    APIKey:
      type: object
      properties:
        id:
          type: string
        key_value:
          type: string
        team_id:
          type: string
        user_id:
          type: string
          nullable: true
        created_by:
          type: string
        name:
          type: string
        type:
          type: string
        roles:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        expires_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
        usage_count:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - team_id
        - created_by
        - name
        - type
        - roles
        - is_active
        - expires_at
        - created_at
        - updated_at
    CreateAPIKeyRequest:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: [user, service]
        roles:
          type: array
          items:
            type: string
        expires_in:
          type: string
          description: "30d, 90d, 180d, 365d, or never"
      required: [name, type]
    CreateAPIKeyResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        roles:
          type: array
          items:
            type: string
        team_id:
          type: string
        key:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
      required: [id, name, type, roles, team_id, expires_at, created_at]
    SuccessCreateAPIKeyResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CreateAPIKeyResponse"
    SuccessAPIKeyListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                api_keys:
                  type: array
                  items:
                    $ref: "#/components/schemas/APIKey"
    ClaimRequest:
      type: object
      properties:
        template:
          type: string
        config:
          $ref: "#/components/schemas/SandboxConfig"
      required: []
    SandboxConfig:
      type: object
      properties:
        env_vars:
          type: object
          additionalProperties:
            type: string
        ttl:
          type: integer
          format: int32
        hard_ttl:
          type: integer
          format: int32
        network:
          $ref: "#/components/schemas/TplSandboxNetworkPolicy"
        webhook:
          $ref: "#/components/schemas/WebhookConfig"
        auto_resume:
          type: boolean
          default: true
          description: |
            Sandbox-level resume gate for paused sandboxes. When false, any inbound request
            (API or public exposure) must not auto resume the sandbox.
        exposed_ports:
          type: array
          items:
            $ref: "#/components/schemas/ExposedPortConfig"
    ExposedPortConfig:
      type: object
      properties:
        port:
          type: integer
          format: int32
        resume:
          type: boolean
          description: |
            Port-level resume gate for public exposure traffic. Evaluated only when
            sandbox auto_resume is true. Priority: sandbox auto_resume (global gate)
            > exposed_ports[].resume (per-port gate).
        public_url:
          type: string
          readOnly: true
          description: |
            The full public URL to access this exposed port.
            Format: https://<sandboxName>--p<port>.<regionID>.<rootDomain>
      required: [port, resume]
    UpdateExposedPortsRequest:
      type: object
      properties:
        ports:
          type: array
          items:
            $ref: "#/components/schemas/ExposedPortConfig"
      required: [ports]
    SuccessExposedPortsResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                sandbox_id:
                  type: string
                exposed_ports:
                  type: array
                  items:
                    $ref: "#/components/schemas/ExposedPortConfig"
                exposure_domain:
                  type: string
                  readOnly: true
                  description: |
                    The base exposure domain (e.g., "aws-us-east-1.sandbox0.app").
                    Useful for clients that need to construct URLs manually.
              required: [sandbox_id, exposed_ports]
    WebhookConfig:
      type: object
      properties:
        url:
          description: Required when webhook is enabled. Target URL that receives event callbacks.
          type: string
        secret:
          description: Optional. Shared secret used to sign webhook payloads.
          type: string
        watch_dir:
          description: Optional. When set, procd subscribes to file events under this directory (same semantics as the file watch WebSocket API) and emits file.modified events.
          type: string
    ClaimResponse:
      type: object
      properties:
        sandbox_id:
          type: string
        status:
          type: string
        pod_name:
          type: string
        template:
          type: string
        cluster_id:
          type: string
          nullable: true
      required: [sandbox_id, status, pod_name, template]
    SuccessClaimResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/ClaimResponse"
    Sandbox:
      type: object
      properties:
        id:
          type: string
        template_id:
          type: string
        team_id:
          type: string
        user_id:
          type: string
        status:
          type: string
        paused:
          type: boolean
        auto_resume:
          type: boolean
        exposed_ports:
          type: array
          items:
            $ref: "#/components/schemas/ExposedPortConfig"
        pod_name:
          type: string
        expires_at:
          type: string
          format: date-time
        claimed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
      required:
        - id
        - template_id
        - team_id
        - status
        - paused
        - auto_resume
        - pod_name
        - expires_at
        - claimed_at
        - created_at
    SandboxUpdateConfig:
      type: object
      description: |
        Subset of SandboxConfig fields that can be updated at runtime without restarting the sandbox.
        Note: env_vars and webhook are not included as they only affect new processes or require restart.
      properties:
        ttl:
          type: integer
          format: int32
        hard_ttl:
          type: integer
          format: int32
        network:
          $ref: "#/components/schemas/TplSandboxNetworkPolicy"
        auto_resume:
          type: boolean
          default: true
          description: |
            Sandbox-level resume gate for paused sandboxes. When false, any inbound request
            (API or public exposure) must not auto resume the sandbox.
        exposed_ports:
          type: array
          items:
            $ref: "#/components/schemas/ExposedPortConfig"
    SandboxUpdateRequest:
      type: object
      properties:
        config:
          $ref: "#/components/schemas/SandboxUpdateConfig"
    SandboxStatus:
      type: object
      properties:
        sandbox_id:
          type: string
        template_id:
          type: string
        team_id:
          type: string
        user_id:
          type: string
        pod_name:
          type: string
        status:
          type: string
        claimed_at:
          type: string
        expires_at:
          type: string
        created_at:
          type: string
    SuccessSandboxResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/Sandbox"
    SuccessSandboxStatusResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/SandboxStatus"
    SandboxSummary:
      type: object
      properties:
        id:
          type: string
        template_id:
          type: string
        status:
          type: string
          enum: [starting, running, failed, completed]
        paused:
          type: boolean
        cluster_id:
          type: string
          description: Cluster where sandbox runs (multi-cluster only)
          nullable: true
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - id
        - template_id
        - status
        - paused
        - created_at
        - expires_at
    SuccessSandboxListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                sandboxes:
                  type: array
                  items:
                    $ref: "#/components/schemas/SandboxSummary"
                count:
                  type: integer
                  description: Total matching sandboxes
                has_more:
                  type: boolean
                  description: More results available
              required:
                - sandboxes
                - count
                - has_more
    ResourceUsage:
      type: object
      properties:
        cpu_percent:
          type: number
          format: double
        memory_rss:
          type: integer
          format: int64
        memory_vms:
          type: integer
          format: int64
        open_files:
          type: integer
        thread_count:
          type: integer
        container_memory_usage:
          type: integer
          format: int64
        container_memory_limit:
          type: integer
          format: int64
        container_memory_working_set:
          type: integer
          format: int64
        io_read_bytes:
          type: integer
          format: int64
        io_write_bytes:
          type: integer
          format: int64
        memory_bytes:
          type: integer
          format: int64
    ContextResourceUsage:
      type: object
      properties:
        context_id:
          type: string
        type:
          type: string
        alias:
          type: string
          description: Alias for the REPL or CLI tool (e.g., python, node, bash, redis-cli)
        running:
          type: boolean
        paused:
          type: boolean
        usage:
          $ref: "#/components/schemas/ResourceUsage"
    SandboxResourceUsage:
      type: object
      properties:
        container_memory_usage:
          type: integer
          format: int64
        container_memory_limit:
          type: integer
          format: int64
        container_memory_working_set:
          type: integer
          format: int64
        total_memory_rss:
          type: integer
          format: int64
        total_memory_vms:
          type: integer
          format: int64
        total_open_files:
          type: integer
        total_thread_count:
          type: integer
        total_io_read_bytes:
          type: integer
          format: int64
        total_io_write_bytes:
          type: integer
          format: int64
        context_count:
          type: integer
        running_context_count:
          type: integer
        paused_context_count:
          type: integer
        contexts:
          type: array
          items:
            $ref: "#/components/schemas/ContextResourceUsage"
    PauseSandboxResponse:
      type: object
      properties:
        sandbox_id:
          type: string
        paused:
          type: boolean
        resource_usage:
          $ref: "#/components/schemas/SandboxResourceUsage"
        updated_memory:
          type: string
        updated_cpu:
          type: string
      required: [sandbox_id, paused]
    ResumeSandboxResponse:
      type: object
      properties:
        sandbox_id:
          type: string
        resumed:
          type: boolean
        restored_memory:
          type: string
      required: [sandbox_id, resumed]
    SuccessPauseSandboxResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/PauseSandboxResponse"
    SuccessResumeSandboxResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/ResumeSandboxResponse"
    SandboxRefreshRequest:
      type: object
      properties:
        duration:
          type: integer
          format: int32
          description: Duration to extend TTL in seconds (optional, defaults to original TTL)
    RefreshResponse:
      type: object
      properties:
        sandbox_id:
          type: string
        expires_at:
          type: string
          format: date-time
      required: [sandbox_id, expires_at]
    SuccessRefreshResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/RefreshResponse"
    ProcessType:
      type: string
      enum: [repl, cmd]
    PTYSize:
      type: object
      properties:
        rows:
          type: integer
          format: int32
        cols:
          type: integer
          format: int32
    ExecCandidate:
      type: object
      properties:
        name:
          type: string
        args:
          type: array
          items:
            type: string
      required: [name]
    REPLEnvVar:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        value_from:
          type: string
      required: [name]
    REPLPromptConfig:
      type: object
      properties:
        custom_prompt:
          type: string
    REPLReadyMode:
      type: string
      enum: [prompt_token, startup_delay]
    REPLReadyConfig:
      type: object
      properties:
        mode:
          $ref: "#/components/schemas/REPLReadyMode"
        token:
          type: string
        startup_delay_ms:
          type: integer
          format: int32
    REPLConfig:
      type: object
      properties:
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        candidates:
          type: array
          items:
            $ref: "#/components/schemas/ExecCandidate"
        env:
          type: array
          items:
            $ref: "#/components/schemas/REPLEnvVar"
        default_term:
          type: string
        prompt:
          $ref: "#/components/schemas/REPLPromptConfig"
        ready:
          $ref: "#/components/schemas/REPLReadyConfig"
      required: [name, candidates]
    CreateREPLContextRequest:
      type: object
      properties:
        alias:
          type: string
          description: Alias for the REPL or CLI tool (e.g., python, node, bash, redis-cli)
        input:
          type: string
        repl_config:
          $ref: "#/components/schemas/REPLConfig"
    CreateCMDContextRequest:
      type: object
      properties:
        command:
          type: array
          items:
            type: string
      required: [command]
    CreateContextRequest:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/ProcessType"
        repl:
          $ref: "#/components/schemas/CreateREPLContextRequest"
        cmd:
          $ref: "#/components/schemas/CreateCMDContextRequest"
        wait_until_done:
          type: boolean
        cwd:
          type: string
        env_vars:
          type: object
          additionalProperties:
            type: string
        pty_size:
          $ref: "#/components/schemas/PTYSize"
        idle_timeout_sec:
          type: integer
          format: int32
        ttl_sec:
          type: integer
          format: int32
    ContextResponse:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: "#/components/schemas/ProcessType"
        alias:
          type: string
          description: Alias for the REPL or CLI tool (e.g., python, node, bash, redis-cli)
        cwd:
          type: string
        env_vars:
          type: object
          additionalProperties:
            type: string
        running:
          type: boolean
        paused:
          type: boolean
        created_at:
          type: string
        output_raw:
          type: string
          description: Raw PTY output for CMD contexts with wait=true, may contain terminal control characters
      required: [id, type, running, paused, created_at]
    ContextStatsResponse:
      type: object
      properties:
        context_id:
          type: string
        type:
          type: string
        alias:
          type: string
          description: Alias for the REPL or CLI tool (e.g., python, node, bash, redis-cli)
        running:
          type: boolean
        paused:
          type: boolean
        usage:
          $ref: "#/components/schemas/ResourceUsage"
    ContextInputRequest:
      type: object
      properties:
        data:
          type: string
      required: [data]
    ContextExecResponse:
      type: object
      properties:
        output_raw:
          type: string
          description: Raw PTY output, may contain terminal control characters (e.g. \r)
      required: [output_raw]
    ResizeContextRequest:
      type: object
      properties:
        rows:
          type: integer
          format: int32
        cols:
          type: integer
          format: int32
      required: [rows, cols]
    SignalContextRequest:
      type: object
      properties:
        signal:
          type: string
      required: [signal]
    SuccessContextResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/ContextResponse"
    SuccessContextListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                contexts:
                  type: array
                  items:
                    $ref: "#/components/schemas/ContextResponse"
    SuccessContextStatsResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/ContextStatsResponse"
    SuccessContextExecResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/ContextExecResponse"
    FileInfo:
      type: object
      properties:
        name:
          type: string
        path:
          type: string
        type:
          type: string
          enum: [file, dir, symlink]
        size:
          type: integer
          format: int64
        mode:
          type: string
        mod_time:
          type: string
          format: date-time
        is_link:
          type: boolean
        link_target:
          type: string
    FileContentResponse:
      type: object
      properties:
        content:
          type: string
        encoding:
          type: string
          enum: [base64]
    SuccessFileReadResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              oneOf:
                - $ref: "#/components/schemas/FileInfo"
                - type: object
                  properties:
                    entries:
                      type: array
                      items:
                        $ref: "#/components/schemas/FileInfo"
                - $ref: "#/components/schemas/FileContentResponse"
    SuccessFileStatResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/FileInfo"
    SuccessFileListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                entries:
                  type: array
                  items:
                    $ref: "#/components/schemas/FileInfo"
    MoveFileRequest:
      type: object
      properties:
        source:
          type: string
        destination:
          type: string
      required: [source, destination]
    FileWatchRequest:
      oneOf:
        - $ref: "#/components/schemas/FileWatchSubscribeRequest"
        - $ref: "#/components/schemas/FileWatchUnsubscribeRequest"
    FileWatchSubscribeRequest:
      type: object
      properties:
        action:
          type: string
          enum: [subscribe]
        path:
          type: string
        recursive:
          type: boolean
      required: [action, path]
    FileWatchUnsubscribeRequest:
      type: object
      properties:
        action:
          type: string
          enum: [unsubscribe]
        watch_id:
          type: string
      required: [action, watch_id]
    FileWatchResponse:
      oneOf:
        - $ref: "#/components/schemas/FileWatchSubscribed"
        - $ref: "#/components/schemas/FileWatchEvent"
        - $ref: "#/components/schemas/FileWatchUnsubscribed"
        - $ref: "#/components/schemas/FileWatchError"
    FileWatchSubscribed:
      type: object
      properties:
        type:
          type: string
          enum: [subscribed]
        watch_id:
          type: string
        path:
          type: string
      required: [type, watch_id, path]
    FileWatchEvent:
      type: object
      properties:
        type:
          type: string
          enum: [event]
        watch_id:
          type: string
        event:
          type: string
        path:
          type: string
      required: [type, watch_id, event, path]
    FileWatchUnsubscribed:
      type: object
      properties:
        type:
          type: string
          enum: [unsubscribed]
        watch_id:
          type: string
      required: [type, watch_id]
    FileWatchError:
      type: object
      properties:
        type:
          type: string
          enum: [error]
        error:
          type: string
      required: [type, error]
    ContextWebSocketRequest:
      oneOf:
        - $ref: "#/components/schemas/ContextWebSocketInput"
        - $ref: "#/components/schemas/ContextWebSocketResize"
        - $ref: "#/components/schemas/ContextWebSocketSignal"
    ContextWebSocketInput:
      type: object
      properties:
        type:
          type: string
          enum: [input]
        data:
          type: string
        request_id:
          type: string
      required: [type]
    ContextWebSocketResize:
      type: object
      properties:
        type:
          type: string
          enum: [resize]
        rows:
          type: integer
          format: int32
        cols:
          type: integer
          format: int32
      required: [type, rows, cols]
    ContextWebSocketSignal:
      type: object
      properties:
        type:
          type: string
          enum: [signal]
        signal:
          type: string
      required: [type, signal]
    ContextWebSocketResponse:
      oneOf:
        - $ref: "#/components/schemas/ContextWebSocketOutput"
        - $ref: "#/components/schemas/ContextWebSocketDone"
    ContextWebSocketOutput:
      type: object
      properties:
        type:
          type: string
          enum: [output]
        source:
          type: string
          enum: [stdout, stderr, prompt]
        data:
          type: string
      required: [type, source, data]
    ContextWebSocketDone:
      type: object
      properties:
        type:
          type: string
          enum: [done]
        request_id:
          type: string
      required: [type, request_id]
    MountRequest:
      type: object
      properties:
        sandboxvolume_id:
          type: string
        sandbox_id:
          type: string
        mount_point:
          type: string
        volume_config:
          $ref: "#/components/schemas/VolumeConfig"
      required: [sandboxvolume_id, mount_point]
    VolumeConfig:
      type: object
      properties:
        cache_size:
          type: string
        prefetch:
          type: integer
          format: int32
        buffer_size:
          type: string
        writeback:
          type: boolean
    VolumeAccessMode:
      type: string
      enum: [RWO, ROX, RWX]
      description: >-
        Access mode for sandbox volumes. Enforcement is scoped to storage-proxy
        instances. RWO allows read-write mounts on a single instance; ROX allows
        read-only mounts across instances; RWX allows read-write mounts across
        instances.
    MountResponse:
      type: object
      properties:
        sandboxvolume_id:
          type: string
        mount_point:
          type: string
        mounted_at:
          type: string
        mount_session_id:
          type: string
      required: [sandboxvolume_id, mount_point, mounted_at, mount_session_id]
    UnmountRequest:
      type: object
      properties:
        sandboxvolume_id:
          type: string
        mount_session_id:
          type: string
      required: [sandboxvolume_id, mount_session_id]
    MountStatus:
      type: object
      properties:
        sandboxvolume_id:
          type: string
        mount_point:
          type: string
        mounted_at:
          type: string
        mounted_duration_sec:
          type: integer
          format: int64
        mount_session_id:
          type: string
    SuccessMountResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/MountResponse"
    SuccessMountStatusResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: object
              properties:
                mounts:
                  type: array
                  items:
                    $ref: "#/components/schemas/MountStatus"
    CreateSandboxVolumeRequest:
      type: object
      properties:
        cache_size:
          type: string
        prefetch:
          type: integer
        buffer_size:
          type: string
        writeback:
          type: boolean
        access_mode:
          $ref: "#/components/schemas/VolumeAccessMode"
          description: Access mode for the volume. Defaults to RWO when omitted.
    ForkVolumeRequest:
      type: object
      properties:
        cache_size:
          type: string
        prefetch:
          type: integer
        buffer_size:
          type: string
        writeback:
          type: boolean
        access_mode:
          $ref: "#/components/schemas/VolumeAccessMode"
          description: Access mode for the volume. Defaults to RWO when omitted.
    SandboxVolume:
      type: object
      properties:
        id:
          type: string
        team_id:
          type: string
        user_id:
          type: string
        source_volume_id:
          type: string
          nullable: true
        cache_size:
          type: string
        prefetch:
          type: integer
        buffer_size:
          type: string
        writeback:
          type: boolean
        access_mode:
          $ref: "#/components/schemas/VolumeAccessMode"
          description: Configured access mode for the volume.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, team_id, user_id, cache_size, buffer_size, created_at, updated_at]
    SuccessSandboxVolumeResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/SandboxVolume"
    SuccessSandboxVolumeListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/SandboxVolume"
    CreateSnapshotRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      required: [name]
    Snapshot:
      type: object
      properties:
        id:
          type: string
        volume_id:
          type: string
        name:
          type: string
        description:
          type: string
        size_bytes:
          type: integer
          format: int64
        created_at:
          type: string
        expires_at:
          type: string
[...]
